.mdl-textfield{line-height: 40px; padding:30px 0;}
.mdl-textfield__label{font-size: 24px;}
.mdl-textfield__label::after {bottom: 30px;}
.mdl-card__title{background-repeat: no-repeat; background-color:rgb(255,82,82); height: 175px; background-position: top right;}
.mdl-card__title-text{color: #fff;}
.star{float:right; width: 25px;}
.score{margin: 0 !important; text-align:right;}
.price{font-size: 20px; margin: 0 0 20px !important;}
.mdl-badge{margin-right: 40px;}
.mdl-card__title small{position: absolute;left: 20px;color: #efefef;top: 20px;}
