<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app store crawler</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="stylesheet" href="appstore.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        var APP_API = "http://localhost:9000/api/apps";
    </script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">app store crawler</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
            <form action="#">
                <div class="mdl-grid">
                    <div class="highlight">
                        <h2>Do you want to know which is the position<br/> of your favorite app in the app stores ranking?</h2>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="q">
                        <label class="mdl-textfield__label" for="q">type an app name or its url...</label>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
                <div id="results" class="mdl-grid">

                </div>
            </form>
        </div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="appstore.js"></script>
    <script type="text/html" id="result-template">
        <div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp item">
          <div class="mdl-card__title" style="background-image: url(<%= app.icon %>)">
              <h2 class="mdl-card__title-text"><%= app.name %></h2>
              <small><%= app.developer %></small>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col">
                    <h4 class="price"><%= app.price == 0 ? 'Free' : '$' + app.price %></h4>
                    <div>
                        <% for(var i = 0; i < app.ranking.length; i++){ %>
                            <span class="mdl-badge mdl-badge--no-background" data-badge="<%= app.ranking[i].order %>"><%= app.ranking[i].name %></span>
                        <% } %>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <h3 class="score"><%= formatScore(app.review.value) %></h3>
                    <% for(var i = 0; i < parseInt(app.review.value); i++){ %>
                        <i class="material-icons star">star_rate</i>
                    <% } %>

                    <p><%= app.review.count %> reviews<br/>version <%= app.review.version %></p>
                </div>
            </div>
          </div>
        </div>
    </script>
</body>
</html>